<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.whyx.dao.infomanage.InfoManageMapper">
    <select id="selInfoManage" resultType="InfoManage">
        SELECT i.*,
        (SELECT `name` FROM penson p WHERE p.id=i.release_pid) release_name,
        (SELECT `name` FROM penson p WHERE p.id=i.modify_pid) modify_name
        FROM infomanage i
        ORDER BY `releasetime` DESC
        <if test="content!=null">
            where content like CONCAT('%',#{content},'%')
        </if>
        ORDER BY releasetime DESC
    </select>

    <select id="selAnnouncement" resultType="InfoManage">
        select * FROM infomanage
        where id = #{id}
    </select>

    <select id="selcount" resultType="Integer">
        SELECT COUNT(1) from infomanage
    </select>

    <insert id="insertInfoManage">
        INSERT INTO infomanage (content,releasetime,release_pid) VALUES (#{content},#{releasetime},#{release_uid})
    </insert>

    <delete id="delInfoManage">
        DELETE FROM `infomanage` WHERE `id`= #{id}
    </delete>

    <update id="updInfoManage">
       update infomanage
        set content=#{content},modify_pid=#{release_uid},revisiontime=#{revisiontime}
        where id=#{id}
    </update>

</mapper>
