<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.whyx.dao.meetingroomapply.MeetingRoomApplyMapper">

    <!--申请会议室-->
    <insert id="addMeetingRoomApply">
        insert into `MeetingRoomApply`
        values (null,#{meetroomid},#{begindate},#{enddate},#{applyreason},#{pid},#{status})
    </insert>

    <!--管理员查询所有会议室的申请-->
    <select id="findMeetingRoomApply" resultType="MeetingRoomApply">
        select a.*,
            (select sn from meetingroom m where a.id = m.id) sn
        from `MeetingRoomApply` a
        <if test="pid != 1">
            where pid = #{pid}
        </if>
        order by `id` desc
    </select>

    <!--管理员修改申请的状态-->
    <update id="updateStatus">
        update `MeetingRoomApply`
        set status = #{status}
        where id = #{id}
    </update>

</mapper>