<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.whyx.dao.meetingroomapply.MeetingRoomApplyMapper">

    <!--申请会议室-->
    <insert id="addMeetingRoomApply">
        insert into `MeetingRoomApply`
        values (null,#{meetroomid},#{begindate},#{enddate},#{applyreason},#{pid},#{status})
    </insert>

    <!--管理员查询所有会议室的申请-->
    <select id="findMeetingRoomApply" resultType="MeetingRoomApply">
        select a.*,
            (select sn from meetingroom m where a.meetroomid = m.id) sn,
            (select name from penson p where a.pid = p.id) pname
        from `MeetingRoomApply` a
        <if test="pid != 1">
            where pid = #{pid}
        </if>
        order by `id` desc
    </select>

    <!--管理员修改申请的状态-->
    <update id="updateStatus" parameterType="MeetingRoomApply">
        update `MeetingRoomApply`
          <set>
              <if test="meetroomid!=null">
                  meetroomid = #{meetroomid},
              </if>
              <if test="begindate!=null">
                  begindate = #{begindate},
              </if>
              <if test="enddate!=null">
                  enddate = #{enddate},
              </if>
              <if test="applyreason!=null">
                  applyreason = #{applyreason},
              </if>
              <if test="pid!=null">
                  pid = #{pid},
              </if>
              <if test="status!=null">
                  status = #{status}
              </if>
          </set>
        where id = #{id}
    </update>

    <!--删除申请-->
    <delete id="delMeetingRoomApply">
        delete from meetingroomapply where id = #{id}
    </delete>

    <select id="selcount" resultType="Integer">
        SELECT COUNT(1) from `meetingroomapply`
    </select>

</mapper>