<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.whyx.dao.assetsmanage.AssetsManageMapper">

    <!--查看所有资产-->
    <select id="findAssetsManage" resultType="AssetsManage">
        select a.*,
          (select name from penson p where p.id = a.assetmanager) pname
            from assetsmanage a
            <if test="assetname!=null">
                where assetname like CONCAT('%',#{assetname},'%')
            </if>
            order by id desc
    </select>

    <!--添加资产-->
    <insert id="addAssetsManage" parameterType="AssetsManage">
        insert assetsmanage
        values (null,#{assetname},#{quantity},#{position},#{assetmanager})
    </insert>

    <!--修改资产-->
    <update id="updAssetsManage" parameterType="AssetsManage">
        update assetsmanage
         set assetname=#{assetname},quantity=#{quantity},position=#{position}
          where id=#{id}
    </update>

    <!--删除资产-->
    <delete id="delAssetsManage">
        delete from assetsmanage where id=#{id}
    </delete>

    <!--根据id查看资产-->
    <select id="selAssetsManageById" resultType="AssetsManage">
        select * from assetsmanage where id = #{id}
    </select>

    <select id="selcount" resultType="Integer">
        SELECT COUNT(1) from `assetsmanage`
    </select>
</mapper>