<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.whyx.dao.stationmapper.StationMapper">
    <select id="selStation" resultType="Station">
        SELECT * From station
        <if test="station_name!=null">
            where station_name like CONCAT('%',#{station_name},'%')
        </if>
    </select>

    <select id="selcount" resultType="Integer">
        SELECT COUNT(1) from station
        <if test="station_name!=null">
            where station_name like CONCAT('%',#{station_name},'%')
        </if>
    </select>

    <select id="selStationname" resultType="Station">
        select * FROM station
        where id = #{id}
    </select>

    <insert id="insstation_add">
       INSERT INTO station (station_name) VALUES (#{station_name})
    </insert>

    <delete id="delStation">
            DELETE FROM `station` WHERE `id`= #{id}
        </delete>

    <update id="updStation">
       update station
        set station_name=#{station_name}
        where id=#{id}
    </update>
</mapper>
