<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.whyx.dao.carmanage.CarManageMapper">
    <!--查看所有车辆-->
    <select id="findCarManage" resultType="CarManage">
        select c.*,
        (select name from penson p where p.id = c.applicant) pname
        from carmanage c
            <where>
                <if test="licenseplate!=null">
                   and licenseplate like CONCAT('%',#{licenseplate},'%')
                </if>
                <if test="applicant != 1 ">
                    and applicant = #{applicant}
                </if>
            </where>
        order by c.id desc
    </select>

    <!--添加车辆-->
    <insert id="addCarManage" parameterType="CarManage">
        insert carmanage
        values (null,#{licenseplate},#{applicant},#{applytime},#{backtime}
            ,#{purpose},#{mileage},#{voucher})
    </insert>

    <!--修改车辆-->
    <update id="updCarManage" parameterType="CarManage">
        update carmanage
        <set>
            <if test="licenseplate!=null">
                licenseplate=#{licenseplate},
            </if>
            <if test="applicant!=null">
                applicant=#{applicant},
            </if>
            <if test="applytime!=null">
                applytime=#{applytime},
            </if>
            <if test="backtime!=null">
                backtime=#{backtime},
            </if>
            <if test="purpose!=null">
                purpose=#{purpose},
            </if>
            <if test="mileage!=null">
                mileage=#{mileage},
            </if>
            <if test="voucher!=null">
                voucher=#{voucher},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--删除车辆-->
    <delete id="delCarManage">
        delete from carmanage where id=#{id}
    </delete>

    <select id="selCarManageById" resultType="carmanage">
        select * from carmanage where id = #{id}
    </select>

    <select id="selcount" resultType="Integer">
            SELECT COUNT(1) from `carmanage`
            <where>
                <if test="licenseplate != null">
                    and licenseplate like CONCAT('%',#{licenseplate},'%')
                </if>
            </where>
    </select>
</mapper>