<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.whyx.dao.penson.PensonMapper">

    <resultMap id="userMap" type="cn.whyx.pojo.Penson">
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="login" resultMap="userMap">
        select * from penson  where username = #{username} and password=#{password}
    </select>

    <select id="selInfoManage" resultType="Penson">
       select p.*,
      (select `name` from role r where p.role = r.id) role_name,
      (select department_name from `department` d where d.id =
          (select `postid` from organmanage o where p.org = o.id)
      ) department_name
      from penson p
        <if test="name!=null">
            where name like CONCAT('%',#{name},'%')
        </if>
    </select>

    <select id="selcount" resultType="Integer">
        SELECT COUNT(1) from penson
    </select>

    <select id="selRole" resultType="Role">
        SELECT * From  role
    </select>

    <select id="seldepartment" resultType="Department">
      SELECT * From  department
    </select>
    
    <select id="selrevision" resultType="Penson">
         select * FROM penson
        where id = #{id}
    </select>

    <update id="updPenson">
        update penson
        set `name`=#{name},
        <if test="sex!=null">
            sex=#{sex},
        </if>
        address=#{address},phone=#{phone},description=#{description},
        <if test="org!=null">
            org=#{org},
        </if>
        <if test="role!=null">
            role=#{role},
        </if>
        wages=#{wages}
        where id=#{id}
    </update>
</mapper>