<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.whyx.dao.lfghmapper.LfghMapper">
    <select id="selApplyInfo" resultType="ApplyInfo">
        select a.*,
        (SELECT `name` from penson p where p.id=a.pid) `name`
        from `applyinfo` a
          <where>
              `subject` = 1
              <if test="id!=1">
                  and pid = #{id}
              </if>
              <if test="name!=null">
                  and pid in
                  (SELECT `id` from `penson` where `name`like CONCAT('%',#{name},'%'))
              </if>
          </where>
    </select>

    <select id="selcount" resultType="Integer">
        SELECT COUNT(1) from `applyinfo`
    </select>

    <update id="updateApplyInfo" parameterType="Applyinfo">
        UPDATE `applyinfo` SET state = #{state} WHERE id=#{id}
    </update>

    <delete id="delApplyInfo">
         delete from `applyinfo`
          where id = #{id}
    </delete>

    <insert id="addApplyInfo">
        insert into `applyinfo`
        values (null,#{pid},0,1)
    </insert>

</mapper>
